@font-face {
    font-display: swap;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    src: url('src/assets/font/bebas-neue-v14-latin-regular.woff2') format('woff2');
}

body {
    font-family: 'Arial', sans-serif;
}

h2, p {
    font-family: 'Bebas Neue';
}

.cart {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.cart h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.cart h3 {
    font-family: 'Bebas Neue';
}

.cart ul {
    list-style: none;
    padding: 0;
}

.cart li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.cart li img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.cart .item-details {
    flex-grow: 1;
}

.cart .item-details h2 {
    margin: 0;
    font-size: 1.2em;
}

.cart .item-details p {
    margin: 5px 0;
}

.cart .quantity-control {
    display: flex;
    align-items: center;
}

.cart .quantity-control button {
    background: none;
    border: 1px solid #ddd;
    padding: 5px 10px;
    cursor: pointer;
}

.cart .quantity-control span {
    margin: 0 10px;
}

.cart .item-price {
    font-family: 'Bebas Neue';
    font-size: 1.2em;
    margin-right: 20px;
}

.cart .remove-item {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

.cart .summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px
}

.cart .summary-total {
    text-align: right;
}

.cart .summary-total p, .cart .summary-total h3 {
    margin: 5px 0;
}

.cart .checkout {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: 'Bebas Neue';
}
