/* bebas-neue-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    src: url('src/assets/font/bebas-neue-v14-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.footer {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    padding: 20px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #666;
    margin: 20px 0;
}

.text {
    font-size: 14px;
}

.txt {
    margin-left: 10px;
}